{% extends 'base.html' %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for cat, msg in messages %}
{% if cat == 'request-sent' %}
<div class="alert alert-success" style="display: block; width: 50%; margin-left: auto; margin-right: auto;">
    {{ msg }}
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}
<main class="container signup-container">
    <div class="row signup-items">
        <aside class="col-12 col-md-6">
            <div class="inq-body">
                <form action="" method="POST" class="inq-form">
                    {{ form.hidden_tag() }}
                    <div class="login-box">
                        <h2>Send In Your Request</h2>
                        <fieldset>
                            <label>First Name</label>
                            {{ form.first_name(class ="feedback-input", placeholder="First Name") }}
                        </fieldset>
                        <fieldset>
                            <label>Last Name</label>
                            {{ form.last_name(class ="feedback-input", placeholder="Last Name") }}
                        </fieldset>
                        <fieldset>
                            <label>Email</label>
                            {{ form.email(class ="feedback-input", placeholder="Email") }}
                        </fieldset>
                        <fieldset>
                            <label>Date Needed</label>
                            {{ form.date_needed(class ="feedback-input", placeholder="When do you need this by?") }}
                        </fieldset>
                        <fieldset>
                            <label>Description of Request</label>
                            {{ form.description(class ="feedback-input", placeholder="Description of Request") }}
                        </fieldset>
                        {{ form.submit_button(class = "btn btn-primary btn-block") }}
                    </div>
                    </form>
            </div>
        </aside>
        <aside class="col-12 col-md-6">
            
        </aside>
    </div>
</main>

{% endblock content %}