{% extends 'base.html' %}

{% block content %}

<main class="container signin-body">
    <div class="row">
        <aside class="col-12 col-md-6">
            <div class="inq-body">
                <form action="" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="login-box">
                        <h1 style="text-align: center;">Sign In</h1>
                        <fieldset class="user-box">
                            {{ form.password }}
                            <label>Password</label>
                        </fieldset>
                        <fieldset class="user-box">
                            {{ form.confirm_password }}
                            <label>Confirm Password</label>
                        </fieldset>
                        {{ form.submit_button(class = "btn btn-primary btn-block") }}
                    </div>
                </form>
            </div>
        </aside>
        <aside class="col-12 col-md-6">
            
        </aside>
    </div>
</main>
{% endblock content %}